*{
    background-color: black;
    color: rgb(0, 255, 0);
}

nav{
    margin:1vw;
    display: flex;
    gap:5vw;
    width: fit-content;
    font-size: 2em;
}

#ShowDetails{
    border: 1px solid red;
    height:30vw;
    display: none;
}